header {
    background-color: #EAC926;
    padding: 10px;
    width: 100%;
}

.contenedor__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.contenedor__header img {
    width: 45%;
}

.search-bar {
    width: 45%;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #ebebee;
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    position: relative;
}

.search-bar input {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 5px;
    width: 100%;
   
}

.lupa {
    border: 0;
    background-color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header__div__compra {
    text-align: center;
    padding: 5px 0 20px;
}

.header__section__nav ul {
    padding: 10px 0;
    margin: 0;
}

.header__section__nav ul li a {
    text-decoration: none;
    color: #03264C;
}

#loguin {
    padding: 10px 0;
    margin: 0;
}

.burguer-menu a {
    display: block;
    margin: auto;
    font-size: 30px;
    padding: 4px 10px;
    background-color: #1259C3;
    border-radius: 5px;
    color: #FFFFFF;
    width: 25px;
    cursor: pointer;
}
/*mobile*/
@media (max-width:360px) {
    .header__section__nav {
        display: none;
    }
}
/*tablet y desktop*/
@media (min-width:361px) {
    .burguer-menu {
        display: none;
    }

    .contenedor__header img {
        width: 30%;
    }

    .search-bar {
        width: 20%;
    }

    .header__div__compra {
        width: 40%;
        font-size: 14px;
    }

    .header__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px 10px;
    }

    .header__section__nav {
        width: 45%;
    }

    .header__section__nav ul {
        display: flex;
        justify-content: space-around;
    }

    .loguin {
       width: 45%;
       justify-content: space-between;
       display: flex;
    }

}